@tailwind base;
@tailwind components;
@tailwind utilities;


.h-screen {
  height: 100vh;
}
.bg-gray-100 {
  background-color: #f7fafc;
}
.bg-blue-500 {
  background-color: #3b82f6;
}
.text-white {
  color: #ffffff;
}
.flex {
  display: flex;
}
.items-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.flex-col {
  flex-direction: column;
}
.flex-grow-1 {
  flex-grow: 1;
}
/* .w-3/5 {
  width: 60%;
} */
.flex-1 {
  flex: 1;
}
.p-4 {
  padding: 1rem;
}
.bg-white {
  background-color: #ffffff;
}
.border-r {
  border-right-width: 1px;
}
.border-gray-300 {
  border-color: #d1d5db;
}
.text-3xl {
  font-size: 1.875rem;
}
.font-bold {
  font-weight: 700;
}


.textarea-large {
  width: 100%;
  height: 70px; 
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.xy{
  height: 170px;
}

.enlarge-on-hover {
  transition: transform 0.3s ease;
}

.enlarge-on-hover:hover {
  transform: scale(1.05); /* Adjust the scale value as needed */
}